.event-box {
    margin: 20px 0 20px 0;
}

.box-0 {
    img {
       float: left;
    }
}

.box-1 {
    img {
       float: right;
    }
}


#events-3 {   /*has to be events-3 because I deleted 2 other events pages*/
    background-image: url("images/grey_wash_wall.png");
    background-repeat: repeat;
}