.event-box {
    padding: 30px 5px 30px 5px;
    font-size: 20px;
    border-style: solid;
    border-width: 2px;
    background-color: #929292;
    border-radius: 15px;
    box-shadow: 0 0 20px black;
    h3 {
        text-align: center;
    }
    img {
        margin: 10px;
    }
}

.box-0 {
    img {
       float: left;
    }
}

.box-1 {
    img {
       float: right;
    }
}


#events-3 {   /*has to be events-3 because I deleted 2 other events pages*/
    background-image: url("images/grey_wash_wall.png");
    background-repeat: repeat;

    h2 {
        color: #B8B8B8;
    }
    .site-container {
        padding: 20px;
    }
}

@media (max-width: 320px) {
    #events-3 .site-container {
        margin: 0 10px 0 10px;
    }
}

@media  (min-width: 320px) and (max-width: 480px){
    #events-3 .site-container {
        margin: 0 10px 0 10px;
    }
  }
 
@media (min-width: 481px) and (max-width: 768px){
    #events-3 .site-container {
        margin: 0 25px 0 25px;
    }
}

@media (min-width: 769px) and (max-width: 960px){
    #events-3 .site-container {
        margin: 0 45px 0 45px;
    }
  }

@media (max-width: 320px) {
    .event-box img {
       float: none;
       margin-left: 25%;
       margin-right: auto;
       text-align: center;
    }
}

@media  (min-width: 320px) and (max-width: 480px){
    .event-box img {
       float: none;
       margin-left: 25%;
       margin-right: auto;
       text-align: center;
    }
  }
 
@media (min-width: 481px) and (max-width: 768px){
    .event-box img {
       float: none;
       margin-left: 25%;
       margin-right: auto;
       text-align: center;
    }
}

