.menu-background {
    background-image: url("images/menu_background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: -5px 5px 5px #3C3C3C;
    margin: 0 10% 0 10%;
    padding: 0 5% 0 5%;
}

.menu-text {
    padding: 25px;
    ul li{
        list-style: none;    
    }
}

#food {
    background-image: url("images/dark_wood.png");
}