#menu {
    background-image: url("images/brickwall.png");
    background-repeat: repeat;
}

.menu-text {
    font-size: 20px;
    p {
        padding-bottom: 10px;
    }
}

@media  (max-width: 320px) {

}

@media  (min-width: 320px) and (max-width: 480px)
  {

  }
 
  @media (min-width: 481px) and (max-width: 768px)
  {

  }

    @media  (min-width: 769px) and (max-width: 960px)
  {

  }