// setting base styles to image containers
[class*="bg__"] {
  height: 55vh;

  text-indent: -9999px;

  /* fix background */
  background-attachment: fixed;

  /* center it */
  background-position: center center;

  /* Scale it nicely to the element */
  background-size: cover;
  @media  (max-width: 320px) {
  backgorund-size: 25% 25%;
}

@media (min-width: 320px) and (max-width: 480px)
  {
    height: 0vh;
  }
 
  @media (min-width: 481px) and (max-width: 768px)
  {
    height: 0vh;
  }

    @media  (min-width: 769px)  and (max-width: 960px)
  {
    height: 0vh;
  }

  /* just make it look a bit better ;) */
  &:nth-child(2n) {
    box-shadow: inset 0 0 1em #111;
  }
}

.bg__homeMenu {
  background-image: url(
    url("images/brickwall.png")
  );

}

.bg__drinkFood {
  background-image: url(
    images/brick-background2.png
  );
  margin-top: 2%;  /*seprates the drinks menu from the parallax image*/

}

.bg__foodevent {
  background-image: url(
    images/pagoda-night.png
  );
}

.bg__bazz {
  height: 100vh;

  background-image: url(
    https://s3-us-west-2.amazonaws.com/s.cdpn.io/30354/parallax1.jpg
  );
}